body {
    overflow: hidden;
    margin: 0;
    background-image:url("https://www.cnblogs.com/images/cnblogs_com/gxunique/1495996/o_back.png")
}

h1 {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 30px;
    color:#e9520c;
    padding: 0 20px;
}
