body {
    overflow: hidden;
    margin: 0;
    background-image:url("https://intranetproxy.alipay.com/skylark/lark/0/2019/png/116060/1560850413641-a7d2a534-1424-447b-876c-875f5de293d7.png?x-oss-process=image/resize,w_735")
}

h1 {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 60px;
    color:#07000a;
    padding: 0 20px;
}
